.fw600 {
  font-weight: 600;
}

.menuNav {
  border: 1px solid;
  width: 100px;
  height: 620px;
}

.grabContent {
  position: absolute;
  width: 320px;
  background: white;
}

.dropContent {
  position: relative;
  width: 100%;
  height: 600px;
  border: 1px solid;
  padding: 10px;
  overflow-y: auto;
  background: rgb(228, 226, 226);
}

.grab {
  cursor: move;
}

.grab:hover {
  cursor: move;
  background: rgb(221, 214, 214);
}
